/******************************************** GENERAL *******************************************/
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Merriweather", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(75, 74, 74), rgb(143, 143, 143));
    color: rgba(255, 255, 255, 0.835);
}

#barraLateral {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    left: 0;
    background-color: black;
    padding: 7px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.dropdown {
    position: relative;
}

.dropdown .dropbtn {
    font-size: 25px;
    color: #818181;
    display: block;
    text-decoration: none;
    padding: 8px 32px;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: rgba(34, 34, 34, 0.9);
    padding: 0;
    left: 20px;
    /* Desplazamiento a la izquierda */
    margin-top: 10px;
    /* Espacio por encima */
}

.dropdown-content a {
    padding: 8px 32px;
    font-size: 20px;
    color: #818181;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer .Redes-sociales a {
    margin: 0 10px;
    color: white;
}

/******************************************** PAGINA INICIO *****************************************/


#contenedorInicio {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 0 20%;
}

#contenedorInicio p {
    font-size: 20px;
    margin-bottom: 40px;
}


#contenidoInicio {
    max-width: 900px;
}

.listas li {
    font-size: 18px;
}

figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure img {
    margin-bottom: 10px;
}

figcaption {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(213, 213, 213);
}

.carrousel {
    position: relative;
    max-width: 800px;
    margin: 20px auto;
    overflow: hidden;
    display: flex;
    /* Asegúrate de que el contenedor sea un flexbox */
    justify-content: center;
    /* Centra el carrusel */
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-image {

    width: 760px;
    height: 500px;
    object-fit: cover;
    display: none;
    filter: grayscale(100%);
}

.carousel-image:hover {
    filter: grayscale(0%);
    /* Restablece el color al pasar el mouse */
}

.carousel-image.active {
    display: block;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(0, 0, 0);
    background-color: rgb(234, 234, 234);
    border: none;
    cursor: pointer;
    padding: 7px 10px;
    z-index: 10;
    border-radius: 12px;
    transform: scale(1.6);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/********************************** PAGINA CONTACTO ********************************************/

#Formulario h1 {
    margin-bottom: 1.5rem;
    color: #afafaf;
}

#Formulario li,
#Formulario .grid>*:not(:last-child) {
    margin-bottom: 1.5rem;
}

#Formulario input,
#Formulario textarea,
#Formulario button {
    width: 100%;
    line-height: 1.5;
    padding: 15px 10px;
    border: 1px solid hsl(0, 0%, 10%);
    color: #afafaf;
    background: hsl(0, 0%, 14%);
    transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
        transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

#Formulario textarea {
    height: 170px;
}

#Formulario ::placeholder {
    color: inherit;
    opacity: 1;
}

#Formulario input:focus,
#Formulario textarea:focus,
#Formulario button:enabled:hover,
#Formulario button:focus,
#Formulario input[type="checkbox"]:focus+label {
    background: hsl(0, 7%, 20%);
}

#Formulario input:focus,
#Formulario textarea:focus {
    transform: scale(1.02);
}

#Formulario #nombre,
#Formulario #apellido,
#Formulario #email {
    background-repeat: no-repeat;
    background-position: center right 12px;
    background-size: 15px 15px;
}

#Formulario #nombre,
#Formulario #apellido,
#Formulario #email {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg);
}

#Formulario *:disabled {
    cursor: default;
    filter: blur(2px);
}

#Formulario input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}

#Formulario input[type="checkbox"]+label {
    position: relative;
    display: inline-block;
    padding-left: 2rem;
    transition: background 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

#Formulario input[type="checkbox"]+label::before,
#Formulario input[type="checkbox"]+label::after {
    content: '';
    position: absolute;
}

#Formulario input[type="checkbox"]+label::before {
    left: 0;
    top: 6px;
    width: 18px;
    height: 18px;
    border: 2px solid #afafaf;
}

#Formulario input[type="checkbox"]:checked+label::before {
    background: #e31b23;
}

#Formulario input[type="checkbox"]:checked+label::after {
    left: 7px;
    top: 7px;
    width: 6px;
    height: 14px;
    border-bottom: 2px solid #afafaf;
    border-right: 2px solid #afafaf;
    transform: rotate(45deg);
}

#Formulario .requerido {
    display: none;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg) no-repeat center left / 15px 15px;
    padding-left: 20px;
}

#Formulario .boton-grid {
    position: relative;
    overflow: hidden;
    transition: filter 0.2s;
}

#Formulario button {
    font-weight: bold;
}

.mensaje-validacion {
    color: red;
    /* Color para mensajes de error */
    font-size: 0.9em;
    /* Tamaño de fuente más pequeño */
    margin-top: 0.5rem;
    /* Espacio entre el input y el mensaje */
}

.resultado {
    margin-top: 50px;
    padding: 15px;
    background-color: #292a2b;
    /*  fondo suave */
    border-radius: 5px;
    /* Bordes redondeados */
    color: #f3ecec;
    /* texto */
}

.resultado h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.resultado p {
    margin: 5px 0;
    /* Espacio entre párrafos */
}
/**************************************PAGINA ARTICULOS **************************************/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    /* Permite que las columnas se envuelvan en caso de espacio limitado */
    justify-content: space-between;
    /* Espaciado uniforme entre columnas */
    margin: 20px 0;
    /* Margen entre secciones */
}

.flex-item {
    flex: 1;
    /* Permite que los elementos ocupen el mismo espacio */
    margin: 10px;
    /* Espaciado entre columnas */
    min-width: 300px;
    /* Ancho mínimo para cada columna */
    background-color: rgba(255, 255, 255, 0.1);
    /* Fondo para distinguir columnas */
    padding: 15px;
    /* Espaciado interno */
    border-radius: 10px;
    /* Bordes redondeados */
}

.header-container {
    display: flex;
    align-items: center;
    /* Centra verticalmente */
    justify-content: center;
    /* Centra horizontalmente */
    margin: 20px 0;
    /* Espacio alrededor */
}

.header-container .logo {
    width: 50px;
    /* Ajusta el tamaño de la imagen */
    height: auto;
    /* Mantiene la proporción */
    margin-right: 10px;
    /* Espacio entre la imagen y el texto */
}

h1 {
    font-size: 2em;
    /* Tamaño del texto del título */
    color: white;
    /* Cambia el color según tu diseño */
}

.auto{
    display: flex;
    margin-left: 12px;
    gap: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.auto h2{
    text-align: center;
}

.imagenes-autos{
    width: 1000px;
    height: 580px;
}

fieldset{
    border-radius: 15px;
    width: 890px;
}

b{
    color: rgb(0, 0, 0);
}